Source: linz-asp-uploader
Section: misc
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.8),
 libmodule-build-perl
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Svn: git://github.com/linz/linz_asp_uploader.git
Vcs-Browser: https://github.com/linz/linz_asp_uploader

Package: linz-asp-uploader
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblog-log4perl-perl,
 liblog-dispatch-perl,
 libdate-manip-perl,
 liblog-dispatch-filerotate-perl,
 libmail-sender-perl,
 liburi-fetch-perl,
 libdbd-pg-perl,
 liblinz-utils-perl,
 linz-bde-uploader,
 libcache-perl,
 perl-doc,
 postgresql-9.0,
 postgresql-client-9.0,
 postgresql-plperl-9.0,
 postgresql-contrib-9.0
Recommends:
Description: Programme for loading LINZ ASP dataset into a PostgreSQL
 database. linz_asp_uploader has the ability to apply datasets and determine the
 changeset with existing data if the linz_bde_uploader is installed.
